In [1]:
import pandas as pd
import ast
import datetime
import json

# Load books info from csv files

After checking the dfs, we can find that in "bk_2019","bk_2020" and "bk_2021",the format of the cells in column "genre" looks like list but not actual list. So first of all, we need to convert them to list and then to strings.

In [2]:
# lists = {}
# lists['genre']=bk_2019['genre']
# df = pd.DataFrame(lists)
# # convert the string representation of lists into actual lists
# df['genre'] = df['genre'].apply(ast.literal_eval)
# # join the lists into clean string
# df['genre'] = df['genre'].apply(lambda x: ', '.join(x))
# df
# # print(df['genre'].apply(type))

In [3]:
bk_2019 = pd.read_csv("../data/raw_data/books_2019_df.csv")
# convert the string representation of lists into actual lists
bk_2019['genre'] = bk_2019['genre'].apply(ast.literal_eval)
# join the lists into clean string
bk_2019['genre'] = bk_2019['genre'].apply(lambda x: ', '.join(x))
bk_2019.head(3)
bk_2019.shape

(400, 12)

In [4]:
bk_2020 = pd.read_csv("../data/raw_data/books_2020_df.csv")

bk_2020['genre'] = bk_2020['genre'].apply(ast.literal_eval)
bk_2020['genre'] = bk_2020['genre'].apply(lambda x: ', '.join(x))
bk_2020.shape

(399, 12)

In [5]:
bk_2021 = pd.read_csv("../data/raw_data/books_2021_df.csv")

bk_2021['genre'] = bk_2021['genre'].apply(ast.literal_eval)
bk_2021['genre'] = bk_2021['genre'].apply(lambda x: ', '.join(x))
bk_2021.shape

(340, 12)

In [6]:
bk_2022 = pd.read_csv("../data/raw_data/books_2022_df.csv")
bk_2022.shape

(340, 12)

In [7]:
bk_2023 = pd.read_csv("../data/raw_data/books_2023_df.csv")
bk_2023.shape

(299, 12)

# Add column "year" for each df

In [8]:
bk_2019['year'] = 2019
bk_2020['year'] = 2020
bk_2021['year'] = 2021
bk_2022['year'] = 2022
bk_2023['year'] = 2023

# Add column "award" for each df

In [9]:
# load award_category.json
with open("../data/raw_data/award_category.json", 'r') as file:
    category = json.load(file)

In [10]:
award_count_2019 = category['2019']
award_count_2020 = category['2020']
award_count_2021 = category['2021']
award_count_2022 = category['2022']
award_count_2023 = category['2023']

In [11]:
def add_award(award_counts):
    current_index = 0
    categories = []
    for category, count in award_counts.items():
        categories += [category] * count  # Extend the list by repeating the category 'count' times
        current_index += count
    return categories

In [12]:
bk_2019['award'] = add_award(award_count_2019)
bk_2020['award'] = add_award(award_count_2020)
bk_2021['award'] = add_award(award_count_2021)
bk_2022['award'] = add_award(award_count_2022)
bk_2023['award'] = add_award(award_count_2023)

# Create an ensemble df

In [13]:
df = pd.concat([bk_2019,bk_2020,bk_2021,bk_2022,bk_2023], ignore_index=True)
df.shape

(1778, 14)

In [14]:
df.columns

Index(['title', 'ISBN', 'author', 'genre', 'rating', 'number_of_ratings',
       'number_of_reviews', 'pages', 'format', 'publish info', 'description',
       'Votes', 'year', 'award'],
      dtype='object')

In [15]:
df.isna().sum()

title                0
ISBN                 6
author               0
genre                0
rating               0
number_of_ratings    0
number_of_reviews    0
pages                8
format               0
publish info         0
description          0
Votes                0
year                 0
award                0
dtype: int64

In [16]:
df.duplicated().sum()

0

In [17]:
df.nunique()

title                1687
ISBN                   15
author               1307
genre                1605
rating                241
number_of_ratings    1685
number_of_reviews    1616
pages                 546
format                  8
publish info          411
description          1690
Votes                1691
year                    5
award                  89
dtype: int64

# Cleaning Dataframe

- drop column "ISBN"
- We can see that most of the cells filled in the "ISBN not found", so we can drop it.

In [18]:
df = df.drop(columns=['ISBN'])

In [19]:
df.head(3)

,title,author,genre,rating,number_of_ratings,number_of_reviews,pages,format,publish info,description,Votes,year,award
0,The Testaments,Margaret Atwood,"Fiction, Dystopia, Science Fiction, Feminism, ...",4.19,352440,31334,422.0,Hardcover,"First published September 10, 2019",When the van door slammed on Offred's future a...,98291,2019,best-fiction-books-2019
1,Normal People,Sally Rooney,"Fiction, Romance, Contemporary, Literary Ficti...",3.81,1388906,135364,273.0,Hardcover,"First published August 28, 2018",At school Connell and Marianne pretend not to ...,40081,2019,best-fiction-books-2019
2,Where the Forest Meets the Stars,Glendy Vanderah,"Fiction, Contemporary, Mystery, Romance, Fanta...",4.14,192265,16504,332.0,Hardcover,"First published March 1, 2019","In this gorgeously stunning debut, a mysteriou...",29342,2019,best-fiction-books-2019

- deal with column "genre"
- extract the value of column and create a new df about genre of books

In [20]:
# split the 'genre' strings into lists of individual genres
genres_list = df['genre'].str.split(', ').explode().unique()

# create a new DataFrame with unique genres as a category
genres_df = pd.DataFrame(genres_list, columns=['genre'])

# looks like there is an empty string, convert it to null value
genres_df= genres_df.replace('', pd.NA).dropna(subset=['genre'])

genres_df['id'] = range(1, len(genres_df) + 1)

# change the order of columns
genres_df = genres_df[['id','genre']]

# export as csv file
genres_df.to_csv('../data/database/book_genres.csv', index=False)

- deal with column "publish info"
- keep only the publish date and convert it to datetime type

In [21]:
df['publish_date'] = df['publish info'].str.extract(r'(\w+ \d{1,2}, \d{4})')
df['publish_date'] = pd.to_datetime(df['publish_date'])

# drop "publish info"
df = df.drop(columns=['publish info'])

- drop the rows with "not found"

In [22]:
df_filtered = df[df['number_of_ratings'] != 0]
df_filtered.head(3)

,title,author,genre,rating,number_of_ratings,number_of_reviews,pages,format,description,Votes,year,award,publish_date
0,The Testaments,Margaret Atwood,"Fiction, Dystopia, Science Fiction, Feminism, ...",4.19,352440,31334,422.0,Hardcover,When the van door slammed on Offred's future a...,98291,2019,best-fiction-books-2019,2019-09-10
1,Normal People,Sally Rooney,"Fiction, Romance, Contemporary, Literary Ficti...",3.81,1388906,135364,273.0,Hardcover,At school Connell and Marianne pretend not to ...,40081,2019,best-fiction-books-2019,2018-08-28
2,Where the Forest Meets the Stars,Glendy Vanderah,"Fiction, Contemporary, Mystery, Romance, Fanta...",4.14,192265,16504,332.0,Hardcover,"In this gorgeously stunning debut, a mysteriou...",29342,2019,best-fiction-books-2019,2019-03-01

- format the names of columns

In [23]:
# change the order of columns
df_filtered = df_filtered[['title','author','genre','publish_date','pages','format','rating','number_of_ratings','number_of_reviews','Votes','year','award','description']]

new_columns_name = {
    'number_of_ratings':'rating_couunts',
    'number_of_reviews':'reviews_counts',
    'Votes':'votes'
}

df_filtered = df_filtered.rename(columns=new_columns_name)
df_filtered.head(3)

,title,author,genre,publish_date,pages,format,rating,rating_couunts,reviews_counts,votes,year,award,description
0,The Testaments,Margaret Atwood,"Fiction, Dystopia, Science Fiction, Feminism, ...",2019-09-10,422.0,Hardcover,4.19,352440,31334,98291,2019,best-fiction-books-2019,When the van door slammed on Offred's future a...
1,Normal People,Sally Rooney,"Fiction, Romance, Contemporary, Literary Ficti...",2018-08-28,273.0,Hardcover,3.81,1388906,135364,40081,2019,best-fiction-books-2019,At school Connell and Marianne pretend not to ...
2,Where the Forest Meets the Stars,Glendy Vanderah,"Fiction, Contemporary, Mystery, Romance, Fanta...",2019-03-01,332.0,Hardcover,4.14,192265,16504,29342,2019,best-fiction-books-2019,"In this gorgeously stunning debut, a mysteriou..."

In [24]:
award = pd.read_json('../data/raw_data/award_category.json')
award = award.reset_index()
award_df = pd.DataFrame(award)
award_df = award_df.rename(columns={"index":"award"})
award_df

                                  award  2023  2022  2021  2020  2019
0               best-fiction-books-2023  20.0   NaN   NaN   NaN   NaN
1    best-historical-fiction-books-2023  20.0   NaN   NaN   NaN   NaN
2      best-mystery-thriller-books-2023  20.0   NaN   NaN   NaN   NaN
3               best-romance-books-2023  20.0   NaN   NaN   NaN   NaN
4             best-romantasy-books-2023  20.0   NaN   NaN   NaN   NaN
..                                  ...   ...   ...   ...   ...   ...
84                best-debut-novel-2019   NaN   NaN   NaN   NaN  20.0
85  best-young-adult-fiction-books-2019   NaN   NaN   NaN   NaN  20.0
86  best-young-adult-fantasy-books-2019   NaN   NaN   NaN   NaN  20.0
87            best-childrens-books-2019   NaN   NaN   NaN   NaN  20.0
88              best-picture-books-2019   NaN   NaN   NaN   NaN  20.0

[89 rows x 6 columns]

In [25]:
award_df['year'] = award['index'].str.extract('(\d{4})')
award_df

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\54189\AppData\Local\Temp\ipykernel_20560\787329395.py:1: SyntaxWarning: invalid escape sequence '\d'
  award_df['year'] = award['index'].str.extract('(\d{4})')

                                  award  2023  2022  2021  2020  2019  year
0               best-fiction-books-2023  20.0   NaN   NaN   NaN   NaN  2023
1    best-historical-fiction-books-2023  20.0   NaN   NaN   NaN   NaN  2023
2      best-mystery-thriller-books-2023  20.0   NaN   NaN   NaN   NaN  2023
3               best-romance-books-2023  20.0   NaN   NaN   NaN   NaN  2023
4             best-romantasy-books-2023  20.0   NaN   NaN   NaN   NaN  2023
..                                  ...   ...   ...   ...   ...   ...   ...
84                best-debut-novel-2019   NaN   NaN   NaN   NaN  20.0  2019
85  best-young-adult-fiction-books-2019   NaN   NaN   NaN   NaN  20.0  2019
86  best-young-adult-fantasy-books-2019   NaN   NaN   NaN   NaN  20.0  2019
87            best-childrens-books-2019   NaN   NaN   NaN   NaN  20.0  2019
88              best-picture-books-2019   NaN   NaN   NaN   NaN  20.0  2019

[89 rows x 7 columns]

In [26]:
award_df_clean = award_df[['award','year']]
award_df_clean

                                  award  year
0               best-fiction-books-2023  2023
1    best-historical-fiction-books-2023  2023
2      best-mystery-thriller-books-2023  2023
3               best-romance-books-2023  2023
4             best-romantasy-books-2023  2023
..                                  ...   ...
84                best-debut-novel-2019  2019
85  best-young-adult-fiction-books-2019  2019
86  best-young-adult-fantasy-books-2019  2019
87            best-childrens-books-2019  2019
88              best-picture-books-2019  2019

[89 rows x 2 columns]

In [27]:
award_df_clean['award_id'] = [str(i) for i in range(1, len(award_df_clean) + 1)]
award_df_clean

C:\Users\54189\AppData\Local\Temp\ipykernel_20560\4246122594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  award_df_clean['award_id'] = [str(i) for i in range(1, len(award_df_clean) + 1)]

                                  award  year award_id
0               best-fiction-books-2023  2023        1
1    best-historical-fiction-books-2023  2023        2
2      best-mystery-thriller-books-2023  2023        3
3               best-romance-books-2023  2023        4
4             best-romantasy-books-2023  2023        5
..                                  ...   ...      ...
84                best-debut-novel-2019  2019       85
85  best-young-adult-fiction-books-2019  2019       86
86  best-young-adult-fantasy-books-2019  2019       87
87            best-childrens-books-2019  2019       88
88              best-picture-books-2019  2019       89

[89 rows x 3 columns]

In [28]:
# export as csv file
award_df_clean.to_csv('../data/database/choice_award.csv', index=False)

In [29]:
df_final = pd.merge(df_filtered, award_df_clean, on='award', how='left')
df_final = df_final.drop(columns=['year_y','award'])
df_final = df_final.rename(columns={"year_x":"year"})
df_final

,title,author,genre,publish_date,pages,format,rating,rating_couunts,reviews_counts,votes,year,description,award_id
0,The Testaments,Margaret Atwood,"Fiction, Dystopia, Science Fiction, Feminism, ...",2019-09-10,422.0,Hardcover,4.19,352440,31334,98291,2019,When the van door slammed on Offred's future a...,70
1,Normal People,Sally Rooney,"Fiction, Romance, Contemporary, Literary Ficti...",2018-08-28,273.0,Hardcover,3.81,1388906,135364,40081,2019,At school Connell and Marianne pretend not to ...,70
2,Where the Forest Meets the Stars,Glendy Vanderah,"Fiction, Contemporary, Mystery, Romance, Fanta...",2019-03-01,332.0,Hardcover,4.14,192265,16504,29342,2019,"In this gorgeously stunning debut, a mysteriou...",70
3,"Ask Again, Yes",Mary Beth Keane,"Fiction, Contemporary, Audiobook, Literary Fic...",2019-05-28,388.0,Hardcover,3.94,192485,16702,26653,2019,"Francis Gleeson and Brian Stanhope, two rookie...",70
4,Queenie,Candice Carty-Williams,"Fiction, Contemporary, Audiobook, Adult, Menta...",2019-03-19,330.0,Hardcover,3.86,142313,13672,21524,2019,Bridget Jones’s Diary meets Americanah in this...,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1767,Misfit: Growing Up Awkward in the '80s,Gary Gulman,"Memoir, Humor, Nonfiction, Audiobook, Comedy, ...",2023-09-19,304,Hardcover,4.16,"2,102",304,2533,2023,A tour de force of comedy and reflection about...,15
1768,"Unreliable Narrator: Me, Myself, and Impostor ...",Aparna Nancherla,"Memoir, Nonfiction, Humor, Essays, Audiobook, ...",2023-09-19,304,Hardcover,3.64,"1,071",130,2257,2023,A hilarious and insightful collection of essay...,15
1769,America the Beautiful?: One Woman in a Borrowe...,Blythe Roberson,"Nonfiction, Travel, Memoir, Humor, Nature, Aud...",2023-04-18,304,Paperback,3.79,"1,815",355,1866,2023,"For writer and comedian Blythe Roberson, there...",15
1770,Alexandra Petri's US History: Important Americ...,Alexandra Petri,"Humor, History, Nonfiction, Politics, Essays, ...",2023-04-11,326,Hardcover,3.7,725,189,1137,2023,"A witty, absurdist satire of the last 500 year...",15
1771,"Not Funny: Essays on Life, Comedy, Culture, Et...",Jena Friedman,"Humor, Nonfiction, Essays, Memoir, Comedy, Fem...",2023-04-18,256,Hardcover,3.74,807,140,1072,2023,For fans of the perceptive comedy of Hannah Ga...,15

- deal with column "genre"
- Implementation of Category Refinement:
  - identify some common book genre categories and map the existing detailed genres to these broader categories. Below are some examples of basic category mappings:

  - Fantasy/Sci-Fi/Horror
  - Literature/Fiction
  - Nonfiction/Education
  - Romance/Drama
  - Young Adult/Children

In [34]:
def map_genre_to_main_category(genre):

    if any(sub in genre.lower() for sub in ['fantasy', 'sci-fi', 'science fiction', 'horror', 'paranormal']):
        return 'Fantasy/Sci-Fi/Horror'
    elif any(sub in genre.lower() for sub in ['fiction', 'novel', 'literature']):
        return 'Literature/Fiction'
    elif any(sub in genre.lower() for sub in ['nonfiction', 'education', 'biography', 'memoir', 'self-help']):
        return 'Nonfiction/Education'
    elif any(sub in genre.lower() for sub in ['romance', 'drama']):
        return 'Romance/Drama'
    elif any(sub in genre.lower() for sub in ['young adult', 'children', 'ya']):
        return 'Young Adult/Children'
    else:
        return 'Other'

df_final['main_genre'] = df_final['genre'].apply(map_genre_to_main_category)
df_final.head(3)

,title,author,genre,publish_date,pages,format,rating,rating_couunts,reviews_counts,votes,year,description,award_id,main_genre
0,The Testaments,Margaret Atwood,"Fiction, Dystopia, Science Fiction, Feminism, ...",2019-09-10,422.0,Hardcover,4.19,352440,31334,98291,2019,When the van door slammed on Offred's future a...,70,Fantasy/Sci-Fi/Horror
1,Normal People,Sally Rooney,"Fiction, Romance, Contemporary, Literary Ficti...",2018-08-28,273.0,Hardcover,3.81,1388906,135364,40081,2019,At school Connell and Marianne pretend not to ...,70,Literature/Fiction
2,Where the Forest Meets the Stars,Glendy Vanderah,"Fiction, Contemporary, Mystery, Romance, Fanta...",2019-03-01,332.0,Hardcover,4.14,192265,16504,29342,2019,"In this gorgeously stunning debut, a mysteriou...",70,Fantasy/Sci-Fi/Horror

In [35]:
# export as csv file
df_final.to_csv('../data/database/book_info.csv', index=False)