In [1]:
import pandas as pd
from sqlalchemy import create_engine,text
import pymysql.cursors
import os
# import getpass
import urllib.parse

In [2]:
pw_raw = os.getenv('mysql_xt')   # change it with your sql name
pw = urllib.parse.quote_plus(pw_raw)

# Export dataset to MySQL

In [3]:
connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/'
engine = create_engine(connection_string)

In [4]:
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS yourdatabase"))

In [5]:
bestsellers=pd.read_csv('../data/database/bestsellers.csv')
bestsellers.to_sql('bestsellers',engine, 'LittMental', if_exists='replace', index=False)

C:\Users\54189\AppData\Local\Temp\ipykernel_22396\3423962040.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  bestsellers.to_sql('bestsellers',engine, 'LittMental', if_exists='replace', index=False)

16152

In [ ]:
choice_award=pd.read_csv('../data/database/choice_award.csv')
choice_award.to_sql('choice_award',engine, 'LittMental', if_exists='replace', index=False)

In [7]:
book_info=pd.read_csv('../data/database/book_info.csv')
book_info.to_sql('book_info',engine, 'LittMental', if_exists='replace', index=False)

C:\Users\54189\AppData\Local\Temp\ipykernel_22396\494640734.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  book_info.to_sql('book_info',engine, 'LittMental', if_exists='replace', index=False)

1772

In [8]:
books_title=pd.read_csv('../data/database/books_title.csv')
books_title.to_sql('books_title',engine, 'LittMental', if_exists='replace', index=False)

C:\Users\54189\AppData\Local\Temp\ipykernel_12944\2150710463.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  books_title.to_sql('books_title',engine, 'LittMental', if_exists='replace', index=False)

4697

In [9]:
lists_bestsellers=pd.read_csv('../data/database/lists_bestsellers.csv')
lists_bestsellers.to_sql('lists_bestsellers',engine, 'LittMental', if_exists='replace', index=False)

C:\Users\54189\AppData\Local\Temp\ipykernel_12944\3839398385.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  lists_bestsellers.to_sql('lists_bestsellers',engine, 'LittMental', if_exists='replace', index=False)

20

In [6]:
reviews=pd.read_csv('../data/database/reviews.csv')
reviews.to_sql('reviews',engine, 'LittMental', if_exists='replace', index=False)

C:\Users\54189\AppData\Local\Temp\ipykernel_17020\3675633567.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  reviews.to_sql('reviews',engine, 'LittMental', if_exists='replace', index=False)

1686

# Load the clean table from MySQL

In [8]:
db='littmental'
connection_string = 'mysql+pymysql://root:' + pw + '@127.0.0.1:3306/'+db
engine = create_engine(connection_string)

In [12]:
with engine.connect() as connection:
    query = text('SELECT * FROM clean_book_info')
    result = connection.execute(query)
    clean_book_info = pd.DataFrame(result.all())

In [13]:
clean_book_info.head()

,title_id,title,author,genre,publish_date,pages,format,rating,rating_couunts,reviews_counts,votes,year,description,award_id,main_genre,is_bestseller,award
0,560,The Testaments,Margaret Atwood,"Fiction, Dystopia, Science Fiction, Feminism, ...",2019-09-10,422.0,Hardcover,4.19,352440,31334,98291,2019,When the van door slammed on Offred's future a...,70,Fantasy/Sci-Fi/Horror,1,best-fiction-books-2019
1,267,Daisy Jones & The Six,Taylor Jenkins Reid,"Fiction, Historical Fiction, Audiobook, Contem...",2019-03-05,355.0,Hardcover,4.21,1490127,177136,82483,2019,Daisy is a girl coming of age in L.A. in the l...,72,Literature/Fiction,1,best-historical-fiction-books-2019
2,3091,"Red, White & Royal Blue",Casey McQuiston,"Romance, LGBT, Contemporary, Fiction, Queer, Y...",2019-05-14,423.0,Paperback,4.09,990424,113784,76688,2019,First Son Alex Claremont-Diaz is the closest t...,74,Literature/Fiction,0,best-romance-books-2019
3,559,The Institute,Stephen King,"Horror, Fiction, Thriller, Science Fiction, Fa...",2019-09-10,561.0,Hardcover,4.20,271364,26455,75717,2019,"In the middle of the night, in a house on a qu...",76,Fantasy/Sci-Fi/Horror,1,best-horror-books-2019
4,203,The Silent Patient,Alex Michaelides,"Thriller, Mystery, Fiction, Mystery Thriller, ...",2018-01-01,336.0,Hardcover,4.18,2175605,190773,68821,2019,Alicia Berenson’s life is seemingly perfect. A...,71,Literature/Fiction,1,best-mystery-thriller-books-2019

In [14]:
clean_book_info=clean_book_info.drop(columns=['award_id','genre'])

In [15]:
clean_book_info.isna().sum()

title_id          0
title             0
author            0
publish_date      0
pages             2
format            0
rating            0
rating_couunts    0
reviews_counts    0
votes             0
year              0
description       0
main_genre        0
is_bestseller     0
award             0
dtype: int64

In [16]:
clean_book_info.fillna(value=0, inplace=True)

In [17]:
clean_book_info.loc[clean_book_info['pages'] == "Paperback", 'pages'] = 0

In [18]:
clean_book_info.isna().sum()

title_id          0
title             0
author            0
publish_date      0
pages             0
format            0
rating            0
rating_couunts    0
reviews_counts    0
votes             0
year              0
description       0
main_genre        0
is_bestseller     0
award             0
dtype: int64

In [19]:
clean_book_info['is_bestseller'].value_counts()

is_bestseller
0    1257
1     429
Name: count, dtype: int64

In [20]:
# export as csv file
clean_book_info.to_csv('../data/clean_data/clean_book_info.csv', index=False)

In [21]:
with engine.connect() as connection:
    query = text('SELECT * FROM reviews')
    result = connection.execute(query)
    reviews = pd.DataFrame(result.all())

In [22]:
reviews.head(3)

,title_id,title,review1,review2,review3,review4,review5,review6,review7,review8,review9,review10
0,111,five feet apart,[3.5] There’s some disagreement within the CF ...,Edit: For the love of God I wrote this review ...,Can't say I'm surprised I didn't enjoy this bo...,Being subjected to mental and emotional pain c...,Two things before I start my review:1. I reall...,i went into this book hoping to get TFIOS vibe...,”Everyone in this world is breathing borrowed ...,"Heartfelt, touching & absorbing!FIVE FEET APAR...",3.5 starsI mostly picked this up because i kne...,"ReadYeah no, I'm not doing this. Nope.I don't ..."
1,113,of blood and bone,Want to readTo all the people rating this book...,Shelved as 'on-the-radar'I try not to make a h...,At last I found out what happened to Katie and...,UPDATE: $2.99 Kindle US 8/24/19I love the frea...,November 2019:I still absolutely adore this. A...,This series has a continuous story arc and the...,4.5 starsThis book was AMAZING!!! Even better ...,Amazing-sauce. Picking up in the years after “...,Of Blood and Bone is ridiculous. It is a disap...,"Dreading, and knowing what she knew would happ..."
2,143,an anonymous girl,Twisted. Intense. Deviously fun. Why was it th...,"You ever reading a book and thinking, “why was...",My reviews can also be seen at:https://deesrad...,An Anonymous Girlwas the first book I complete...,You're Invited: Seeking women aged 18-32 to pa...,"FIVE STARSI don’t know their secret, but whate...","I really enjoyed this book! Deceptive, creepy,...",Meh378 likesLikeComment,"""Seeking women ages 18–32 to participate in a ...",Loved it! Devoured it!Devious to the max!I dev...

In [23]:
reviews_df = reviews.melt(id_vars=["title_id", "title"], value_vars=[f"review{i}" for i in range(1, 11)], 
                var_name="review_number", value_name="review")

reviews_df['review_number'] = reviews_df['review_number'].str.extract('(\d+)').astype(int)

sorted_df = reviews_df.sort_values(by=['title_id', 'review_number']).reset_index(drop=True)
sorted_df

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\54189\AppData\Local\Temp\ipykernel_22396\138745239.py:4: SyntaxWarning: invalid escape sequence '\d'
  reviews_df['review_number'] = reviews_df['review_number'].str.extract('(\d+)').astype(int)

,title_id,title,review_number,review
0,111,five feet apart,1,[3.5] There’s some disagreement within the CF ...
1,111,five feet apart,2,Edit: For the love of God I wrote this review ...
2,111,five feet apart,3,Can't say I'm surprised I didn't enjoy this bo...
3,111,five feet apart,4,Being subjected to mental and emotional pain c...
4,111,five feet apart,5,Two things before I start my review:1. I reall...
...,...,...,...,...
16855,4697,"not funny: essays on life, comedy, culture, et...",6,DNF / abandoned p 76. Average comedian memoir-...
16856,4697,"not funny: essays on life, comedy, culture, et...",7,If you pick up Academy Award nominee Jena Frie...
16857,4697,"not funny: essays on life, comedy, culture, et...",8,Sharon L5 reviewsIf she was trying to be funny...
16858,4697,"not funny: essays on life, comedy, culture, et...",9,Laura Hobbs18 reviewsNot funny. While I starte...
16859,4697,"not funny: essays on life, comedy, culture, et...",10,She’s right. This book is not funny. DNF2 like...

In [24]:
# export as csv file
sorted_df.to_csv('../data/clean_data/clean_reviews.csv', index=False)